# Xcode build artifacts
build/
DerivedData/
*.xcuserstate
*.xcscheme
xcuserdata/
*.xcworkspace/xcuserdata/
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods / SPM
Pods/
.build/
Package.resolved

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editor
*.swp
*.swo
.idea/
